<center>

  <h1>My Homepage</h1>

<br />

<h5>This is my quiz</h5>


<br />
<br />
<%= link_to 'Contribute', new_superhero_path %>
<h1>Superhero Data</h1>
<h1><%= @superhero.inspect %></h1>
<br />


</center>