<h1>Superheros</h1>
<h2><%= @superhero.name %></h1>
<h3><%= @superhero.superpower %></h2>
<br />
Refresh the page to see different heroes and powers!
<br />
<br />
<%= link_to 'Contribute', new_superhero_path %>